@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fontsource/el-messiri/400.css';
@import '/node_modules/@fontsource/el-messiri/500.css';
@import '/node_modules/@fontsource/el-messiri/600.css';
@import '/node_modules/@fontsource/el-messiri/700.css';
@import './variables';
@import './mixin';

body{
    font-family: 'El Messiri', sans-serif;
}

.container{
    width: 65%;
    margin: 0 auto;
  }

  ul, ol{
    list-style: none;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  img{
    width: 100%;
  }

  //header
  header{
    height: 140px;
    background-color: linear-gradient
  }

  .topbar{
    background-color: $dc-main-color;
    .container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 20px;
        a{
            color: $secondary-color;
            padding: 20px;
            font-size: .7em;
        }
    }

    }


    header .container{
    height: 100%;
    @include d-flex('standard');
    justify-content: space-between;

    img{
      width: 80px;
    }

     ul{
      @include d-flex('standard');

      a{
        padding: 40px 10px;
        font-size: 1em;
        font-weight: 600;
        color: $text-color;
        text-transform: uppercase;
         &:hover,
         &.active{
          border-bottom: 5px solid $dc-main-color;
          color: $dc-main-color;
         }
         i{
            color: $dc-main-color;
         }
      }
    }

  }

  form{
    border-bottom: 2px solid $dc-main-color;
    width: 120px;
    display: flex;
    margin-left: 30px;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    input{
        outline: none ;
        border: none ;
        width: 80px;
      }
  }

  //header

  //jumbo
  .jumbo{

    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    position: relative;
    top: 0;
    .btn{
      @include btn('normal');
      display: inline-block;
      position: absolute;
      bottom: -25px;
      left: 17.5%;
    }
  }
  //jumbo


  //footer

  footer{

    height: calc(100VH - (120px + 140px + 160px));

    .top{
      height: calc(100% - 100px);
      background-image: url('../img/footer-bg.jpg') ;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;

        .container{
          display: flex;
          justify-content: space-between;

          .logo{
            height: 500px;
            width: 600px;
            background-image: url('../img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: 0 -50px ;
          }

          .links{
            padding: 20px 0;
            display: flex;
            flex-wrap: wrap;
            max-width: 500px;
            position: relative;
            top: 0;
            .link-elements{
              padding: 0 25px;
              &:last-child{
                 position: absolute;
                 top: 249px;
              }

              h4{
                padding-bottom: 1em;
                color: $secondary-color
              }

              a{
                color:  darken($color: $secondary-color, $amount: 50);
                font-size: .8em;
                line-height: 2em;

                &:hover{
                  color: $secondary-color;
                }
              }

            }

          }
        }
      }

    .bot{
      height: 100px;
      background-color: $footer-color ;

      .container{
        height: 100%;
        @include d-flex('standard');
        justify-content: space-between;
        .btn{
          color: $secondary-color;
          padding: 14px 1.2em;
          border: 2px solid $dc-main-color;
          cursor: pointer;
          &:hover{
            transform: scale(1.05);
          }
        }

        .socials{
          @include d-flex('standard');

          ul{
            @include d-flex('standard');

            li{
              padding: 10px;

              img{

                &:hover{
                  filter: brightness(100);
                }

              }
            }
          }

          h3{
            margin-right: 20px ;
            font-size: 1.3em;
            color:  $dc-main-color;
          }


        }
      }
    }
  }


  //footer

  .test{
    height: 400px;
    color: white;
    background-color: $dc-main-color;
  }


  //comics
  .comics{
    background-color: $main-bg-color;
    color: $secondary-color;
    .container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 50px 0;

      .btn{
        @include btn('small');
        justify-self: center;
      }
    }
  }

  //card
  .card{
    width: calc((100% / 6) - 20px);
    margin: 10px 10px;
    color: $secondary-color ;

    .image{
      cursor: pointer;
      position: relative;
      top: 0;

      &:hover .info-hidden{
        opacity: 100;
        transition: all 1s linear;
      }

      img{
      height: 250px;
      object-fit:cover;
      object-position:top;
    }
    }

    .info{
      padding: 5px;
      font-size: 1.1em;
    }

    .info-hidden{
      font-size: .8em;
      width: 100%;
      background-color: $dc-main-color;
      padding: 5px;
      position: absolute;
      bottom: 7%;
      opacity: 0;
    }
  }
  //card
  //comics
